---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Title'
    value: page.label
  - label: 'Caption'
    value: page.caption
  - label: 'Work Creator'
    value: page.work_creator
  - label: 'Type'
    value: page.object_type
  - label: 'Style'
    value: page.style
  - label: 'Description'
    value: page.description
  - label: 'Location'
    value: page.location
  - label: 'Current Location'
    value: page.current_location
  - label: 'Date'
    value: page._date
  - label: 'Image Date'
    value: page.image_date
  - label: 'Image Type'
    value: page.image_type
  - label: 'Image Description'
    value: page.image_description
  - label: 'Source'
    value: page.media_url
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
